<% provide(:title, 'Blog') %>

<div id="blog-index-filter-container" class="container">
  <h3>Filter</h3>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1"
      data-toggle="dropdown">Options <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li class="dropdown-header">Topics</li>
      <% @topics.each do |topic| %>
        <li id="topic-<%= topic %>">
          <%= link_to topic, blogs_path(topic: topic) %>
        </li>
      <% end %>
      <li class="divider"></li>
      <li class="dropdown-header">Authors</li>
      <% @authors.each do |author| %>
        <li id="author-<%= author %>">
          <%# TODO fix non-unique name bug, but it is also bugged in blog_helper %>
          <%= link_to author, blogs_path(author: User.find_by(name: author)) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container">
  <h2 id="index-header">Index</h2>
  <%# TODO filter output %>
  <div class="container">
    <% if logged_in? && current_user.blogger? %>
      <div id="blog-index-new-post">
        <%= link_to "New Post", new_blog_path%>
      </div>
    <% end %>
    <ul id="blog-index">
      <% if @overflow > 10 %>
        <div id="blog-index-top-paginate"> <%= will_paginate %> </div>
      <% end %>
      <% @blogs.each do |blog| %>
        <li class="ii" id="topic-<%= blog.topic %>-author-<%= author_name(blog.user_id) %>">
          <%= link_to blog.title, blog_path(blog.id), class: "ii-title" %>
          <p id="blog-index-descript"><%= blog.descript %></p>
          <%# TODO fix database hits %>
          <p id="blog-index-author"><em>Author: <%= author_name(blog.user_id) %> </em></p>
          <% if current_user && blog_owner(blog) %>
            <p>Options | <%= link_to "edit", edit_blog_path(blog.id) %>
          <%= link_to "delete", blog, method: :delete,
            data: { confirm: "You sure?" } %> </p>
        <% end %>
        </li>
      <% end %>
    </ul>
    <div id="blog-index-bottom-paginate"> <%= will_paginate %> </div>
  </div>

</div>
