<%# TODO change conditional to redirect if !@blog %>
<% if @blog %>
  <% provide(:title, @blog.title) %>
  <h3 id="blog-show-title"> <%= @blog.title %> </h3>
  <p id="blog-show-descript"><%= @blog.descript %></p>
  <p id="blog-show-author"><em>Author: <%= User.find_by_id(@blog.user_id).name %></em></p>
  <article id="blog-body"> <%= @blog.body %> </article>
  <h4 id="blog-show-comment-header"> Comments </h4>
  <%= render @comments %>
  <% if logged_in? %>
    <%= render 'comments/new' %>
  <% end %>
<% else %>
  <% provide(:title, "No Post") %>
  <h1>Post not found.</h1>
<% end %>
