<% provide(:title, 'Edit article') %>
<h1>Edit article</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%# unsure why url is necessary, requires some helper reading %>
    <%# url tells the form where to post or update to %>
    <%= form_for(@article) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label "Content" %>
      <%= f.text_area :body, class: 'form-control' %>

      <%= f.submit "Create article", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
