<% provide(:title, 'Create article') %>
<h1>Create article</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@article) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label "Content" %>
      <%= f.text_area :body, class: 'form-control' %>

      <%= f.label "id" %>
      <%= f.text_area :purpose, class: 'form-control' %>

      <% if params[:page] == nil %>
        <%= f.label "Page names: welcome, info, about, contact" %>
        <%= f.text_field :page, class: 'form-control' %>
      <% else %>
        <div class="hide">
          <%= f.label "Page names: welcome, info, about, contact" %>
          <%= f.text_field :page, class: 'form-control' %>
        </div>
      <% end %>

      <%= f.submit "Create article", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
