<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6" id="footerLeft">
        <nav>
          <ul>
            <% if blog = Blog.first %>
              <% url = blog_path(blog.id) %>
              <li><%= link_to "Latest Entry", url %></li>
            <% else %>
              <%# No Latest Blog Entry Link %>
            <% end %>
            <% if comment = Comment.first %>
              <% url = blog_path(comment.blog_id) %>
              <li><%= link_to "Latest Comment", url %></li>
            <% else %>
              <%# No Latest Comment Link %>
            <% end %>
          </ul>
        </nav>
      </div>
      <div class="col-xs-6" id="footerRight">
        <nav>
          <ul>
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "About",   about_path %></li>
            <li><%= link_to "Site Info", info_path %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
